@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
*{
     margin:0;
     padding:0;
     box-sizing:border-box;
     font-family:"Poppins",sans-serif;
}
body{
       width:100vw;
       height:100vh;
       display:flex;
       justify-content:center;
       align-items:center;
}
#container{
       width:600px;
       height:350px;
       background-color:rgba(0,0,0,0.9);
       border-radius:10px;
       padding:2%;
       #wrapper{
              width:100%;
              height:100%;
              display:flex;
              flex-wrap:wrap;
              flex-direction:column;
              #upper{
                     width:100%;
                     height:25%;
                     display:grid;
                     grid-template-columns:auto auto auto;
                     gap:2%;
                     #header{
                            display:flex;
                            justify-content:center;
                            align-items:center; 
                              text-align:left;
                              color:white;
                     }
                     #volume{ 
                             display:flex;
                             justify-content:center;
                             align-items:center;
                             gap:5%;
                             outline:none;
                             border:none;
                             span{
                                    color:white;
                             }
                             input{
                                    accent-color:#fff;
                                    border:0;
                                    cursor:pointer;
                             }
                     }
                     #toggle{
                             display:flex;
                             align-items:center;
                             color:white;
                             gap:4%;
                             .btn{
                                   width:40px;
                                   height:15px;
                                   display:flex;
                                   justify-content:flex-start;
                                   align-items:center;
                                   padding:10px 5px;
                                   background-color:rgb(112, 116, 120);
                                   border-radius:20px;
                                   cursor:pointer;
                                   transition:all 0.3s ease;
                             }
                             #ball{
                                     position:absolute;
                                     width:13px;
                                     height:13px;
                                     border-radius:50%;
                                     background-color:white;
                                     transition:all 0.3s ease;
                             }
                             #ball.change{
                                   transform:translateX(145%);
                                   background-color:black;
                             }
                             .btn.active{
                                   background-color:white;
                             }
                     }
              }
              #lower{
                  width:100%;
                  height:75%;
                  #keys{
                        width:100%;
                        height:100%;
                        display:flex;
                        
                        .key{
                              list-style-type:none;
                              position:relative;
                              cursor:pointer;
                              user-select:none;
                              text-align:center;
                              transform-origin:top;
                              display:flex;
                              justify-content:center;
                              align-items:flex-end;
                              &:active{
                                    transform:scale(0.99);
                              }
                        }
                        .key.shrink{
                            transform:scale(0.99);
                        }
                        .white{
                              width:70px;
                              height:230px;
                              background-color:white;
                              border-radius: 5px;
                              border:2px solid black;
                              
                        }
                        .black{
                             width:44px;
                             height:140px;
                             margin:0px -20px 0px -20px;
                             box-shadow:inset -5px -5px 10px rgba(255,255,255,0.1);
                             border-radius:0px 0px 5px 5px;
                             background:linear-gradient(to bottom left,black,rgb(82, 81, 81) 100%);
                             z-index:1;
                        }
                        .key span{
                            color:rgba(0,0,0,0.8);
                            font-weight:600;
                      }
                        .key span.change{
                                 display:none;
                        }
                        .black span{ 
                              color:rgba(255,255,255,0.8);
                        }
                  }
              }
       }
}
@media only screen and (max-width:600px)
{
       #container{
            width:500px;
            height:300px;
            #wrapper{
                #lower{
                       #keys{
                             .white{
                                     width:70px;
                                     height:200px;
                             }
                             .black{
                                     width:30px;
                                     height:100px;
                                     margin:0px -25px 0px -25px;
                                     transform:translateX(-10px);
                             }
                       }
                }
            }
       }
}

@media only screen and (max-width:500px)
{
       #container{
            width:400px;
            height:200px;
            #wrapper{
              #upper{
                      #header h2{
                            font-size:10px;
                      }
                      #volume{
                              transform:scale(0.8);
                      }
                      #toggle{ 
                             transform:scale(0.7);
                      }
              }
              #lower{
                     #keys{
                           .white{
                                   width:50px;
                                   height:130px;
                           }
                           .black{
                                   width:20px;
                                   height:70px;
                                   margin:0px -15px 0px -15px;
                                   transform:translateX(-3px);
                           }
                     }
              }
          }
       }
}
@media only screen and (max-width:400px)
{
       #container{
            width:300px;
            height:200px;
            #wrapper{
              #upper{
                      #header h2{
                            font-size:8px;
                      }
                      #volume{
                              transform:scale(0.6);
                      }
                      #toggle{ 
                             transform:scale(0.6) translateX(-40px);
                      }
              }
              #lower{
                     #keys{
                           .white{
                                   width:50px;
                                   height:120px;
                           }
                           .black{
                                   width:20px;
                                   height:60px;
                                   margin:0px -20px 0px -20px;
                                   transform:translateX(-8px);
                           }
                     }
              }
          }
       }
}
@media only screen and (max-width:300px)
{
       #container{
            width:200px;
            height:150px;
       }
}